@tailwind base;
@tailwind components;
@tailwind utilities;


/* Animation keyframes */
@keyframes appear {
    from {
      opacity: 0;
      transform: translateY(1rem);
    }
  
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  @keyframes wiggle {
    0% {
      transform: translateX(0);
    }
  
    25% {
      transform: translateX(-5px);
    }
  
    50% {
      transform: translateX(5px);
    }
  
    75% {
      transform: translateX(-5px);
    }
  
    100% {
      transform: translateX(0);
    }
  }
  
  /* Utilities */
  
  .borderClip {
    background-clip: padding-box, border-box;
  }
  
  samp {
    font-family: var(--font-family-mono);
    display: inline;
    font-size: var(--font-size-xs);
    padding: 0 0.4em;
    line-height: 1;
    border-radius: 0.25rem;
    background: color-mix(in srgb, currentColor, transparent 92%);
    letter-spacing: 0.05rem;
  }
  
  sub {
    vertical-align: baseline;
    margin-left: 2px;
    font-size: 65%;
    bottom: 0 !important;
    color: var(--color-primary-500);
  }
  
  /* Dialog (modal) */
  
  dialog {
    background: transparent;
    box-shadow: var(--box-shadow-long);
    border-radius: var(--border-radius-3xl);
    animation: appear 0.3s ease-out;
  
    @screen md {}
  }
  
  dialog::backdrop {
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(5px);
  }
  
  #tray {
    overflow: hidden;
    height: 100dvh;
  }